.container{
    display: flex;
    justify-content: space-between;
}
.div-1{
    background-color: green;
    width: 100px;
    height: 100px;
}
.div-2{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.div-3{
    background-color: brown;
    width: 100px;
    height: 100px;
}
.div-4{
    background-color:gray;
    width: 100px;
    height: 100px;
}