/* 
#11c76f
#2a8250
#eff0e8
#426dff
*/

body {
  background-color: #11c76f;
  color: #35362e;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-decoration: underline;
}

hr {
  border: 1px solid #eff0e8;
}

pre {
  background-color: #eff0e8;
  display: block;
  white-space: pre-line;
  margin: 0 auto;
  padding: 0 1.25em;
  width: 40%;
  border-left: #35362e solid 5px;
  border-radius: 5px;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: #35362e solid 2px;
  padding: 1em;
  margin: 0 auto;
  height: 300px;
  width: 80%;
  background-color: #2a8250;
}

.esfera {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid #35362e 2px;
  display: inline-block;
  margin: 5px;
}

.retan {
  display: inline-block;
  height: 300px;
  width: 20px;
  background-color: #eff0e8;
  margin: 10px;
}

table {
  margin: 0 auto;
  border: #35362e solid 2px;
  width: 50%;
  height: 500px;
  background-color: #eff0e8;
}

td {
  border: 2px solid #35362e;
}
