.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px
}
@media(min-width: 600px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width: 900px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}
.item{
    background-color: palevioletred;
}