.grid{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}
.grid-item{
    background-color: blueviolet;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    color: aliceblue;
}